body {
  background-image: url(../assets/bg-image.jpg);
  background-size: cover;
  /* border-radius: 18px; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: color; */
}
/* navbar start */
.header-container {
  display: flex;
  /* border-color: rgb(168, 51, 51); */
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  position: fixed;
  border-bottom: 1px solid #513c28;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-image: url(../assets/bg-image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* background-image: url(../assets/9199.gif); */
}

.header-container > section > a {
  padding: 3px 24px 3px 24px;
  color: rgb(125, 243, 204);
}
hr {
  margin: 0px;
}
a {
  border: 2px solid;
  border-radius: 18px;
  padding: 0 8px 0 8px;
}

.logo-icon {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 20%;
  background-image: url(../assets/lallainte-agency.jpeg);
  background-size: cover;
  padding: 0 40px 0px 0;
}
/* navbar end */

/* konten start */

/* slide banner start */
.section-content-container {
  display: flex;
  position: relative;
}
/* hide the image default */
.mySlides {
  display: none;
}
/* hide the image default end */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Next & previous buttons  end*/
/* Position the "next button" to the right */
.next {
  right: 608px;
}
/* Position the "next button" to the right  end*/
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* end */
/* Caption text */
.text {
  color: #2343fa;
  font-size: 30px;
  padding: 0 0 100px 0;
  position: absolute;
  bottom: 50px;
  right: 600px;
  width: 50%;
  text-align: center;
}
/* caption text end */
/* Number text (1/3 etc) */
.numbertext {
  color: rgb(8, 248, 8);
  font-size: 12px;
  padding: 24px 0 0 16px;
  position: absolute;
  top: 0;
}
/* Number text (1/3 etc)  end */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* The dots/bullets/indicators  end */
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Fading animation */
.slide-banner {
  align-content: center;
  justify-content: center;
  width: 60%;
  margin: 0 0 0 100px;
}

/* header start*/
.bg-slide {
  width: 625px;
  height: 400px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 18px;
}

/* footer start*/
.footer-slide {
  display: flex;
  border-color: black;
  align-items: center;
}
.footer-slide > section > p {
  padding: 0 0 0 30px;
  margin: 0;
  color: rgb(8, 248, 8);
}
.footer-img {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 0 0 100px;
  background-image: url(../assets/bootloader_users_person_people_6080.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* footer end*/

.paragraf {
  padding: 0 0 0 100px;
  color: rgb(8, 248, 8);
}
/* header end*/
/* slide banner end */
/* konten form start */
.konten-form {
  height: 550px;
  width: 40%;
  background-color: rgb(80, 202, 111);
  margin: 0 100px 0 90px;
  border: 1px solid;
  background-image: url(../assets/9199.gif);
  background-size: cover;
  border-radius: 18px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: color; */
}

/* konten form kontak us dll start */
.konten-form > header > h2 {
  padding: 20px 40px 0 100px;
  color: rgb(125, 243, 204);
}
.konten-form > header > p {
  padding: 0 40px 50px 100px;
  opacity: 0.5;
  color: rgb(8, 248, 8);
}

.konten-form > form > section > .nama {
  padding: 0 40px 0 120px;
  color: rgb(125, 243, 204);
}

.name-input {
  border: 1px solid rgb(8, 248, 8);
  border-radius: 16px;
  padding: 0 100px 0 0px;
  margin: 4px 0 24px 100px;
  height: 40px;
}

.konten-form > form > section > .email {
  padding: 0 40px 0 120px;
  color: rgb(125, 243, 204);
}

.email-input {
  border: 1px solid rgb(8, 248, 8);
  border-radius: 16px;
  padding: 0 100px 0 0;
  margin: 4px 0 24px 100px;
  height: 40px;
}

.konten-form > form > section > .option {
  padding: 0 40px 0 100px;
  color: rgb(125, 243, 204);
}

.opt-group {
  border: 1px solid rgb(8, 248, 8);
  border-radius: 16px;
  padding: 0 170px 0 0;
  margin: 4px 0 24px 100px;
  height: 40px;
}

.button-send {
  border-radius: 16px;
  padding: 0 270px 0 0;
  margin: 4px 0 24px 100px;
  height: 40px;
  color: rgb(125, 243, 204);
}
.button-send > p {
  padding: 0 0 0 120px;
}
/* konten form kontak us dll end */
/* konten form end */
/* bottom konten start */
.footer-konten {
  width: 50%;
}
.bottom-slide {
  display: flex;
  border-color: black;
  align-items: center;
}
.bottom-paragraf {
  padding: 0 0 0 100px;
  font-size: small;
  /* font-weight: unset; */
  color: rgb(0, 0, 0);
}

.bottom-img {
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 50%;
  margin: 0 0 24px 100px;
  background-image: url(../assets/number-one.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgb(253, 253, 253);
}
.bottom-img2 {
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 50%;
  margin: 0 0 24px 100px;
  background-image: url(../assets/number-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgb(253, 253, 253);
}
.bottom-img3 {
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 50%;
  margin: 0 0 24px 100px;
  background-image: url(../assets/number-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgb(253, 253, 253);
}

.bottom-slide > section > p {
  padding: 0 0 0px 30px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
/* bottom konten end */
.section-container {
  padding: 48px 0 24px 0;
}

.section-container > header {
  text-align: center;
  font-size: x-large;
  color: rgb(125, 243, 204);
}
.section-container > header > p {
  opacity: 0.5;
  color: rgb(8, 248, 8);
  font-size: xx-large;
}

button {
  height: 24px;
  width: 64px;
  color: white;
  background-color: black;
  border: 0px;
  border-radius: 8px;
}
/* konten end */

/* konten 2 start */
.our-package {
  padding: 48px 0 24px 0;
  /* border: 1px solid; */
}

.our-package > header {
  text-align: center;
  font-size: x-large;
  color: rgb(125, 243, 204);
}

/* our package div start */

.row1 {
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 5rem; */
  justify-content: center;
  height: 200px;
}
.row2 {
  display: flex;
  /* flex-wrap: wrap; */
  /* margin-top: 5rem; */
  justify-content: center;
  height: 200px;
}
.menu-card-img {
  width: 220px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 0 100px;
  background-image: url(../assets/bali.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-card-img2 {
  width: 220px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 0 130px;
  background-image: url(../assets/japan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-card-img3 {
  width: 220px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 0 100px;
  background-image: url(../assets/singapore.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-card-img4 {
  width: 220px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 0 100px;
  background-image: url(../assets/bandung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-card-img5 {
  width: 220px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 0 100px;
  background-image: url(../assets/surabaya.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-card-img6 {
  width: 220px;
  height: 120px;
  border-radius: 50%;
  margin: 0 0 0 100px;
  background-image: url(../assets/vacation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-display {
  display: flex;
  /* border-color: rgb(240, 234, 234); */
  align-items: center;
}
.menu-display > div > p {
  padding: 0 0 0 30px;
  margin: 0;
  color: rgb(253, 253, 253);
}

/* our package div end */
/* slogan konten start */
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slogan > h2 {
  color: rgb(125, 243, 204);
  font-size: xx-large;
}
.span {
  color: rgb(8, 248, 8);
}
.slogan > p {
  color: white;
  font-size: x-large;
}
.call {
  padding: 8px 24px 8px 24px;
  color: rgb(125, 243, 204);
}
/* slogan konten end */

/* footer start */
.footer-head {
  display: grid;
  border-color: black;
  align-items: center;
  justify-content: center;
}
.logo-footer {
  width: 250px;
  height: 250px;
  border: 1px solid;
  border-radius: 12px;
  background-image: url(../assets/lallainte-agency.jpeg);
  background-size: cover;
  margin: 24px 0 24px 0;
  padding: 0 100px 0 0;
  background-repeat: no-repeat;
  background-position: cover;
}
.section-footer {
  display: flex;
  border-color: black;
  align-items: center;
  justify-content: center;
}
.section-footer > .p1 {
  margin: 0 0px 0 24px;
  color: white;
}
.section-footer > .p2 {
  margin: 0 0px 0 63px;
  color: white;
}
.p3 {
  margin: 0 10px 0 0px;
  color: white;
}
.p4 {
  margin: 0 0 0 40px;
  color: white;
}
.p5 {
  margin: 0 0 0 80px;
  color: white;
}
.p6 {
  margin: 0 0 0 20px;
  color: white;
}

/* footer end */
/* konten 2 end */

/* media queery start */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
    display: grid;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 100%; */
    /* right: -100%; */
    background-color: #fff;
    width: 30rem;
    /* height: 100vh; */
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .top {
    display: flex;
    flex-direction: column;
    width: 30rem;
    justify-content: center;
    align-items: center;
  }
  .section-container {
    display: grid;
    flex-direction: column;
    width: 30rem;
    max-width: 30rem;
    min-height: 20rem;
    justify-content: center;
    align-items: center;
  }
  .bg-slide {
    width: 20rem;
  }
}
/* media queery end */
